{% load static %}
<!DOCTYPE html>
<head>
	<title>Voice Call Analyzer</title>
   	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div id="home">  

        <ol class="navbar">
            <li> <a class="active" href="#home">Home</a></li> 
            <li> <a href="#features">Features</a></li>
            <li> <a href="#contact">Contact</a></li>    
            <li> <a href="#trynow">Try Now</a> </li>
        </ol>

        <h1 id="welcome">Welcome to Voice Call Analyzer</h1>
    </div>

    <div id="features">
        <div class="container">
        <h1 style="padding:10%">Our Features & Insights</h1>
        <ul>
            <li><h2>Data Security</h2></li>
            <p>On clicking "Delete Data" button deletes your upload files and its analysis.</p>
            <li><h2>Quick Insights using Artifical Intelligence</h2></li>
            <p>Using state of art Machine Learning Algorthims for Signal Processing.</p>
            <li><h2>Support various audio file formats</h2></li>
            <p>mp3, wav and other common file formats accepted.</p>
        </ul>
        </div>
    </div>

    
    <div id="trynow"> 
    <div class="container">
    <h1 style="margin-top:10%">Analyse Your Calls Now!!</h1>
			 			
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       <h4> Please upload your .wav or mp3 file </h4>
	        <label class="document">
            <input type="file" name="document" id="document" required="required">
            <button id="submit" class="btn-primary" onClick="showLoader()"> Upload</button>
            </label>
		</form><br>
            
		{% block messages %}
            {% if messages %}
            <div class="container" style="color: firebrick; margin-top: 20px" >
                {% for message in messages %}
                  {{ message }}
                  {% endfor %}
            </div>
            {% endif %}
        {% endblock %}
    </div>
    </div>

    <div id="contact">
        <div class="container">
        <h4>Contact: github.guravvaishnavi02</h4>
        </div>
    </div>

</body>
<script src="{% static 'frontend/main.js' %}"></script>
</html>
